.slider {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;
}

.arrow {
    border: none;
    padding: 5px 8px;
    background-color: transparent;
    cursor: pointer;
}

.slider.dark .arrow {
    color: #f6f7f9;
}

.slider.light .arrow{
    color: black;
}
